<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.xconf.code.editor.servlets.SaveServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>ShareServlet</display-name>
        <servlet-name>ShareServlet</servlet-name>
        <servlet-class>com.xconf.code.editor.servlets.ShareServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>LoadSnippetServlet</display-name>
        <servlet-name>LoadSnippetServlet</servlet-name>
        <servlet-class>com.xconf.code.editor.servlets.LoadSnippetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/savecode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSnippetServlet</servlet-name>
        <url-pattern>/loadsnippet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShareServlet</servlet-name>
        <url-pattern>/sharecode</url-pattern>
    </servlet-mapping>
</web-app>
