body {
    background-color: #262626;
    color: white;
}

a {
    text-decoration: none;
    color: grey;
}

#notifications {
    font-family: 'Noto Sans', sans-serif !important;
}

* {
    font-family: 'Noto Serif', serif;
}

.CodeMirror {
    border-top: 1px solid black;
}

.maximizable {
    cursor: pointer;
}

#left-pane {
    float: left;
    width: 70%;
    min-width: 400px;
}

#right-pane {
    float: right;
    width: 30%;
    min-width: 200px;
}

.editor-area {
    border: thin solid black !important;
    position:absolute;
}